{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <div class="container"><br>
        <h1>Create New Product</h1><br>

        {{ include('product/_form.html.twig', {'button_label': 'Add'}) }}

        <a href="{{ path('app_product_index') }}"><button class="btn btn-warning">Back To List</button></a>
    </div>
{% endblock %}
